.campo{
    width: 90%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightsalmon;
}
.divFoto{
    flex: 60%;
    padding: 10px;
    height: 300px;
}
.divPerfil{
    display: flex;
     /* background: black; */
     margin: 5px;
}
.divAgrupado{
    flex: 50%;
      padding: 10px;
      height: 400px; 
}
.foto{
    height: 50%;
    border-radius: 100px;
}
.btnAgregarAmigo{

    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.divBtnAgregarAmigo{
    padding: 40px 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
  }
  
  li link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li link:hover {
     background-color: #111; 
  }
  .titulo{
    background: grey;
    color: black;
    padding: 10px;
    margin: 5px;
  }
  .li{
    padding: 10px;
  }
  .campo1{
    width: 90%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dddd;
  }
  .form{
    width: 85%;
    height: 92%;
    max-width: 600px;
    margin-top: 50px;
    background: #f1f1f1;
    position: absolute;
    transform: translate(70%, 0%);

}
.fotoProducto{
  height: 70%;

}